* text=auto !eol
Assets/OVR/Materials/GUIHUD.mat -text
Assets/OVR/Materials/MagHUDRef.mat -text
Assets/OVR/Materials/MagHUDTracked.mat -text
Assets/OVR/OVRImageEffects/OVRLensCorrection.mat -text
Assets/OVR/OVRImageEffects/OVRLensCorrection_CA.mat -text
Assets/OVR/Prefabs/OVRCameraController.prefab -text
Assets/OVR/Prefabs/OVRPlayerController.prefab -text
Assets/OVR/Resources/OVRGuiObjectMain.prefab -text
Assets/OVR/Resources/OVRMagCompass.prefab -text
Assets/OVR/Resources/OVRMagReference.prefab -text
Assets/OVR/Textures/Black.png -text
Assets/OVR/Textures/CircleCrossHair.png -text
Assets/OVR/Textures/Crosshair.tga -text
Assets/OVR/Textures/Icons/OculusIcon.png -text
Assets/OVR/Textures/Logos/OculusLogo.png -text
Assets/OpenNI/OpenNI.Net.dll -text
Assets/OpenNI/OpenNI/Images/calibrate_sample.png -text
Assets/OpenNI/OpenNI/Prefabs/Main[!!-~]OpenNI[!!-~]Prefabs/InputController.prefab -text
Assets/OpenNI/OpenNI/Prefabs/Main[!!-~]OpenNI[!!-~]Prefabs/OpenNISettings.prefab -text
Assets/OpenNI/OpenNI/Prefabs/Utility[!!-~]Prefabs/CalibrationMessage.prefab -text
Assets/OpenNI/OpenNI/Prefabs/Utility[!!-~]Prefabs/NIDepthViewer.prefab -text
Assets/OpenNI/OpenNI/Prefabs/Utility[!!-~]Prefabs/NIGUI.prefab -text
Assets/OpenNI/OpenNI/Prefabs/Utility[!!-~]Prefabs/NIImageViewer.prefab -text
Assets/OpenNI/OpenNI/Prefabs/Utility[!!-~]Prefabs/NIRadarViewer.prefab -text
Assets/OpenNI/OpenNI/Prefabs/Utility[!!-~]Prefabs/NIUserViewer.prefab -text
Assets/OpenNI/Scripts/Main[!!-~]OpenNI/Basic[!!-~]objects/OpenNI[!!-~]engine/WrapperBaseObjects/NIWrapperContextDependant.cs -text
Assets/OpenNI/Scripts/Main[!!-~]OpenNI/Basic[!!-~]objects/OpenNI[!!-~]engine/WrapperBaseObjects/NIWrapperObject.cs -text
Assets/OpenNI/Scripts/Trackers/Base[!!-~]tracker[!!-~]and[!!-~]manager[!!-~]classes/NIPointTracker.cs -text
Assets/OpenNI/Scripts/Trackers/Base[!!-~]tracker[!!-~]and[!!-~]manager[!!-~]classes/NIPointTrackerManager.cs -text
Assets/Plugins/OculusPlugin.bundle/Contents/MacOS/OculusPlugin -text
Assets/Plugins/OculusPlugin.bundle/Contents/Resources/en.lproj/InfoPlist.strings -text
Assets/Plugins/OculusPlugin.dll -text
Assets/Plugins/libOculusPlugin.so -text
Assets/Plugins/sixense.dll -text
Assets/Plugins/x86_64/OculusPlugin.dll -text
Assets/Plugins/x86_64/libOculusPlugin.so -text
Assets/RUIS/Examples/BowlingAlley/Materials/Bowling[!!-~]Alley.physicMaterial -text
Assets/RUIS/Examples/BowlingAlley/Materials/Bowling[!!-~]Ball.physicMaterial -text
Assets/RUIS/Examples/BowlingAlley/Materials/Bowling[!!-~]Pin.physicMaterial -text
Assets/RUIS/Examples/BowlingAlley/Prefabs/Bowling[!!-~]Pin.prefab -text
Assets/RUIS/Examples/BowlingAlley/Prefabs/Bowling[!!-~]Pins.prefab -text
Assets/RUIS/Examples/Shared[!!-~]Files/Materials/CrateBump.bmp -text
Assets/RUIS/Examples/Shared[!!-~]Files/Materials/CrateDiffuse.bmp -text
Assets/RUIS/Resources/RUIS/Editor/Textures/monodisplay.png -text
Assets/RUIS/Resources/RUIS/Editor/Textures/stereodisplay.png -text
Assets/RUIS/Resources/RUIS/Fonts/appleberry_with_cyrillic.ttf -text
Assets/RUIS/Resources/RUIS/Graphics/Displays/Keystoning/border.png -text
Assets/RUIS/Resources/RUIS/Graphics/Displays/Keystoning/keystoning.png -text
Assets/RUIS/Resources/RUIS/Graphics/Materials/CalibrationCubeMaterial.mat -text
Assets/RUIS/Resources/RUIS/Graphics/Materials/CalibrationFloorMaterial.mat -text
Assets/RUIS/Resources/RUIS/Graphics/Materials/CalibrationSkeletonMaterial.mat -text
Assets/RUIS/Resources/RUIS/Graphics/Materials/CalibrationSphereMaterial.mat -text
Assets/RUIS/Resources/RUIS/Graphics/Materials/DefaultHighlightMaterial.mat -text
Assets/RUIS/Resources/RUIS/Graphics/Materials/DefaultSelectionMaterial.mat -text
Assets/RUIS/Resources/RUIS/Graphics/Materials/MoveCalibrationCubeMaterial.mat -text
Assets/RUIS/Resources/RUIS/Graphics/Materials/SelectionRayMaterial.mat -text
Assets/RUIS/Resources/RUIS/Graphics/Materials/skin_box.jpg -text
Assets/RUIS/Resources/RUIS/Graphics/Selection/visualizer.pdn -text
Assets/RUIS/Resources/RUIS/Graphics/Selection/visualizer1.png -text
Assets/RUIS/Resources/RUIS/Graphics/Selection/visualizer2.png -text
Assets/RUIS/Resources/RUIS/Graphics/Selection/visualizer3.png -text
Assets/RUIS/Resources/RUIS/Graphics/Selection/visualizer4.png -text
Assets/RUIS/Resources/RUIS/Graphics/Selection/visualizer5.png -text
Assets/RUIS/Resources/RUIS/Graphics/Selection/visualizer6.png -text
Assets/RUIS/Resources/RUIS/Graphics/Selection/visualizer7.png -text
Assets/RUIS/Resources/RUIS/Graphics/Selection/visualizer8.png -text
Assets/RUIS/Resources/RUIS/Models/Kinect/kinect.png -text
Assets/RUIS/Resources/RUIS/Models/Kinect/kinect_icon.pdn -text
Assets/RUIS/Resources/RUIS/Models/Kinect/kinect_icon.png -text
Assets/RUIS/Resources/RUIS/Models/Other/BaseballBat/basebbat_diffuse.dds -text
Assets/RUIS/Resources/RUIS/Models/Other/BaseballBat/basebbat_normal.dds -text
Assets/RUIS/Resources/RUIS/Models/Other/BaseballBat/basebbat_normal.png -text
Assets/RUIS/Resources/RUIS/Models/Other/BaseballBat/basebbat_specular.dds -text
Assets/RUIS/Resources/RUIS/Models/Other/SoccerBall.FBX -text
Assets/RUIS/Resources/RUIS/Models/Other/TubeBuilding/baked_building.png -text
Assets/RUIS/Resources/RUIS/Models/PS[!!-~]Eye/PSEYE.png -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/Materials/No[!!-~]Name.mat -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/arm.fbx -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/foot.fbx -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/forearm.fbx -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/head.fbx -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/lefthand.fbx -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/righthand.fbx -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/shin.fbx -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/thigh.fbx -text
Assets/RUIS/Resources/RUIS/Models/Skeleton/torso.fbx -text
Assets/RUIS/Resources/RUIS/Models/Wand/psmove_icon.png -text
Assets/RUIS/Resources/RUIS/Prefabs/Calibration/Calibration[!!-~]Sphere.prefab -text
Assets/RUIS/Resources/RUIS/Prefabs/Calibration/MoveCalibrationCube.prefab -text
Assets/RUIS/Resources/RUIS/Prefabs/Main[!!-~]RUIS/Input[!!-~]Methods/MouseWand.prefab -text
Assets/RUIS/Resources/RUIS/Prefabs/Main[!!-~]RUIS/Input[!!-~]Methods/MoveController.prefab -text
Assets/RUIS/Resources/RUIS/Prefabs/Main[!!-~]RUIS/RUIS.prefab -text
Assets/RUIS/Resources/RUIS/Prefabs/Main[!!-~]RUIS/RUISDisplay.prefab -text
Assets/RUIS/Scenes/calibration.unity -text
Assets/SixenseInput/DemoScenes/Models/Materials/Hands_Diffuse.mat -text
Assets/SixenseInput/DemoScenes/Models/Materials/Hands_Diffuse.png -text
Assets/SixenseInput/DemoScenes/Models/Materials/Hands_Normal.png -text
Assets/SixenseInput/DemoScenes/Models/Materials/Hands_Specular.png -text
Assets/SixenseInput/DemoScenes/SixenseHands.unity -text
Assets/SixenseInput/DemoScenes/SixenseInputTest.unity -text
Assets/SixenseInput/SixenseInput.prefab -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/3rd[!!-~]Person[!!-~]Controller.prefab -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/First[!!-~]Person[!!-~]Controller.prefab -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/PrototypeCharacter/Constructor.FBX -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/PrototypeCharacter/Materials/constructor_done.mat -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/PrototypeCharacter/Textures/constructor_diffuse.png -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/PrototypeCharacter/Textures/constructor_normals.png -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/Scripts/CharacterMotor.js -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/Scripts/FPSInputController.js -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/Scripts/MouseLook.cs -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/Scripts/PlatformInputController.js -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/Scripts/ThirdPersonCamera.js -text
Assets/Standard[!!-~]Assets/Character[!!-~]Controllers/Sources/Scripts/ThirdPersonController.js -text
ProjectSettings/AudioManager.asset -text
ProjectSettings/DynamicsManager.asset -text
ProjectSettings/EditorBuildSettings.asset -text
ProjectSettings/EditorSettings.asset -text
ProjectSettings/InputManager.asset -text
ProjectSettings/NavMeshLayers.asset -text
ProjectSettings/NetworkManager.asset -text
ProjectSettings/ProjectSettings.asset -text
ProjectSettings/QualitySettings.asset -text
ProjectSettings/TagManager.asset -text
ProjectSettings/TimeManager.asset -text
/inputConfig.xml -text
