/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-firstpass.unityproj
Assets/RUIS/Examples/Football/Graphics/Football_Player@t-pose_1.fbm/Football_Player_pittsburg_white_black_10.tga
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Materials/BigTree_bark.mat
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Materials/BigTree_branches.mat
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Materials/BigTree_leaves.mat
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/BigTree_bark_diffuse.jpg
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/BigTree_bark_normal.jpg
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/BigTree_branches.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/BigTree_leaves.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/Palm[!!-~]Bark[!!-~]Diffuse.png
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/Palm[!!-~]Bark[!!-~]Normal.png
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/Palm[!!-~]Branch.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/Palm[!!-~]Leaf[!!-~]Diffuse.tga
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/PalmBulb.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/PalmBulb_NRM.tga
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/Pine[!!-~]Bark[!!-~]Diffuse.tga
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/Pine[!!-~]Bark[!!-~]Normal.png
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/ScotsPineTrunk.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches1.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches2.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches3.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches4.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches5.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/SycamoreBark.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/SycamoreBark_NRM.tga
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/SycamoreLeaves1.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/SycamoreLeaves2.psd
Assets/RUIS/Examples/Football/Graphics/Tree[!!-~]Creator/Sources/Textures/SycamoreLeaves3.psd
Assets/RUIS/Examples/Football/Graphics/Trees/BigTree.prefab
Assets/RUIS/Examples/Football/Graphics/Trees/BigTree_textures/diffuse.png
Assets/RUIS/Examples/Football/Graphics/Trees/BigTree_textures/normal_specular.png
Assets/RUIS/Examples/Football/Graphics/Trees/BigTree_textures/shadow.png
Assets/RUIS/Examples/Football/Graphics/Trees/BigTree_textures/translucency_gloss.png
Assets/RUIS/Examples/Football/Materials/Black_paint.mat
Assets/RUIS/Examples/Football/Materials/Black_paint.mat.meta
Assets/RUIS/Examples/Football/Materials/Books_1.mat
Assets/RUIS/Examples/Football/Materials/Books_1.mat.meta
Assets/RUIS/Examples/Football/Materials/Books_2.mat
Assets/RUIS/Examples/Football/Materials/Books_2.mat.meta
Assets/RUIS/Examples/Football/Materials/Chair_wood.mat
Assets/RUIS/Examples/Football/Materials/Chair_wood.mat.meta
Assets/RUIS/Examples/Football/Materials/Chrome.mat
Assets/RUIS/Examples/Football/Materials/Chrome.mat.meta
Assets/RUIS/Examples/Football/Materials/Dining_chair.mat
Assets/RUIS/Examples/Football/Materials/Dining_chair.mat.meta
Assets/RUIS/Examples/Football/Materials/Leather.mat
Assets/RUIS/Examples/Football/Materials/Leather.mat.meta
Assets/RUIS/Examples/Football/Materials/Mac_Chrome.mat
Assets/RUIS/Examples/Football/Materials/Mac_Chrome.mat.meta
Assets/RUIS/Examples/Football/Materials/Material_001.mat
Assets/RUIS/Examples/Football/Materials/Material_001.mat.meta
Assets/RUIS/Examples/Football/Materials/Material_002.mat
Assets/RUIS/Examples/Football/Materials/Material_002.mat.meta
Assets/RUIS/Examples/Football/Materials/Matress.mat
Assets/RUIS/Examples/Football/Materials/Matress.mat.meta
Assets/RUIS/Examples/Football/Materials/No[!!-~]Name.mat
Assets/RUIS/Examples/Football/Materials/No[!!-~]Name.mat.meta
Assets/RUIS/Examples/Football/Materials/Oriental_rug.mat
Assets/RUIS/Examples/Football/Materials/Oriental_rug.mat.meta
Assets/RUIS/Examples/Football/Materials/OtherBox.mat
Assets/RUIS/Examples/Football/Materials/OtherBox.mat.meta
Assets/RUIS/Examples/Football/Materials/PLASTIC_green_bottl.mat
Assets/RUIS/Examples/Football/Materials/PLASTIC_green_bottl.mat.meta
Assets/RUIS/Examples/Football/Materials/PLASTIC_white.mat
Assets/RUIS/Examples/Football/Materials/PLASTIC_white.mat.meta
Assets/RUIS/Examples/Football/Materials/RUBBER_generic.mat
Assets/RUIS/Examples/Football/Materials/RUBBER_generic.mat.meta
Assets/RUIS/Examples/Football/Materials/SCAR-L[!!-~]Mag.mat
Assets/RUIS/Examples/Football/Materials/SCAR-L[!!-~]Mag.mat.meta
Assets/RUIS/Examples/Football/Materials/SCAR-L.mat
Assets/RUIS/Examples/Football/Materials/SCAR-L.mat.meta
Assets/RUIS/Examples/Football/Materials/SCAR_L.tga
Assets/RUIS/Examples/Football/Materials/SCAR_L.tga.meta
Assets/RUIS/Examples/Football/Materials/SCAR_L_magazine.tga
Assets/RUIS/Examples/Football/Materials/SCAR_L_magazine.tga.meta
Assets/RUIS/Examples/Football/Materials/White_paint.mat
Assets/RUIS/Examples/Football/Materials/White_paint.mat.meta
Assets/RUIS/Examples/Football/Materials/books.jpg
Assets/RUIS/Examples/Football/Materials/books.jpg.meta
Assets/RUIS/Examples/Football/Materials/defaultMat.mat
Assets/RUIS/Examples/Football/Materials/defaultMat.mat.meta
Assets/RUIS/Examples/Football/Materials/orientalRug.jpg
Assets/RUIS/Examples/Football/Materials/orientalRug.jpg.meta
Assets/RUIS/Examples/Football/Materials/plastic_table.mat
Assets/RUIS/Examples/Football/Materials/plastic_table.mat.meta
Assets/RUIS/Examples/Football/Materials/skin_box.jpg
Assets/RUIS/Examples/Football/Materials/skin_box.jpg.meta
Assets/RUIS/Examples/Football/Materials/skin_box.mat
Assets/RUIS/Examples/Football/Materials/skin_box.mat.meta
Assets/RUIS/Examples/Football/Materials/table_legs.mat
Assets/RUIS/Examples/Football/Materials/table_legs.mat.meta
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Materials/BigTree_bark.mat
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Materials/BigTree_branches.mat
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Materials/BigTree_leaves.mat
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/BigTree_bark_diffuse.jpg
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/BigTree_bark_normal.jpg
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/BigTree_branches.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/BigTree_leaves.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/Palm[!!-~]Bark[!!-~]Diffuse.png
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/Palm[!!-~]Bark[!!-~]Normal.png
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/Palm[!!-~]Branch.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/Palm[!!-~]Leaf[!!-~]Diffuse.tga
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/PalmBulb.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/PalmBulb_NRM.tga
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/Pine[!!-~]Bark[!!-~]Diffuse.tga
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/Pine[!!-~]Bark[!!-~]Normal.png
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/ScotsPineTrunk.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches1.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches2.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches3.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches4.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/ScotsPinebranches5.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/SycamoreBark.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/SycamoreBark_NRM.tga
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/SycamoreLeaves1.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/SycamoreLeaves2.psd
Assets/RUIS/Examples/PhysicsScene/Tree[!!-~]Creator/Sources/Textures/SycamoreLeaves3.psd
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
/calibration.xml
/ruis-unity.userprefs
/trunk-csharp.sln
/trunk-csharp.suo
/trunk.sln
